
body{

    width:100vw;
    /* max-width: 1200px; */
    font-family: sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* border: 1px solid white; */
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgb(52, 51, 51);
    color: rgba(255, 255, 255, 0.596);
}
.container{
    /* margin: 0.5rem; */
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding:1rem;
    text-align: justify;
}
.right{
    background-color: rgba(103, 236, 103, 0.804);
}
.wrong{
    background-color: rgba(241, 108, 108, 0.84);
}


.header{
    width:10vw;
    /* border: 1px solid white; */
    
    color:rgb(0, 157, 255);
}
.header h1{
    /* border: 1px solid white; */
    font-size: 2rem;
    float: left;
}
textarea
{
    margin: 1rem;
    padding:1rem;
    font-size: 1.5rem;
    color:rgba(255, 255, 255, 0.61);
    width:100%;
    height:300px;
    border:2px solid rgba(139, 136, 136, 0.459);
    background-color: rgb(52, 51, 51);
    border-radius: 1rem;
    text-align: justify;
}
textarea:focus{
    outline: none;
    
}
.content{
    /* padding: 1rem; */
    /* border: 1px solid red; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-icon{
    display: flex;
    font-size: 1.5rem;
    /* width: 10rem; */
    gap: 0.5rem;
    text-align: center;
    /* color: white; */
    padding: 1rem 1rem;
    background-color: #3ff83f96;
    border-radius:1rem;
    /* margin: 1rem 2rem; */
   cursor: pointer;
    color: white;
    margin-top:auto;
    font-weight: 700;
}
.timer-start-again{
    width: 100%;
    /* border: 1px solid white; */
    margin:2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.start-again{
    padding: 1rem 1rem;
    border:none;
    cursor: pointer;
    background-color: rgb(153, 205, 50);
    border-radius: 1rem;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    float: right;
    margin-top:auto;
}

@media (max-width:400px)
{
    body{
        font-size: 0.6rem;
    }
    .header h1{
        font-size: 1.2rem;
        margin: 0;
    }
    .timer-start-again .timer{
        font-size: 1rem;
        width: 4rem;
        margin-top: 0.5rem;
        padding:0.5rem 1rem;
    }
    .timer-start-again .start-again{
        font-size: 1rem;
        margin-top: 0.5rem;
        padding:0.5rem 1rem;
    }
    .timer-start-again{
        margin:0.5rem;
    }
    textarea{
        font-size: 0.6rem;
    }
    
}